<style>
    li {
        list-style: none;
    }
</style>
<div class="container">
    <h1 class="offset-1">Eat-da-Burger</h1>
    <hr>
    {{!-- <div><img src="/public/Images/burgerimg.png"></div> --}}
    <ul>
        {{#each burgers}}
        <li>
            <div class="row">
                <p class="col-3"> {{this.burger_name}}</p>
                {{!-- <a href="api/burgers/{{this.id}}"> --}}
                <button data-burgerid="{{this.id}}" type="button" class="delete" name='delete'><i
                        class="fas fa-hamburger"></i></button>
                <p id="text" style="margin:10px">devour it</p>
            </div>
        </li>
        <hr>
        {{/each}}
    </ul>

    <form action="/" method="POST" id="createburger" class="button-size">
        <div class="container text-center">
            <div class="row"> <textarea class="offset-1 col-3" type="text" name="burg"></textarea></div>
            <div class="row"><button class="offset-1 col-3" type="submit">Submit</button>
            </div>
        </div>

    </form>
</div>


<script>
    $(".delete").on("click", function (event) {
        // Get the ID from the button.
        // This is shorthand for $(this).attr("data-planid")
        var id = $(this).data("burgerid");

        // Send the DELETE request.
        $.ajax("/burgers/" + id, {
            type: "DELETE"
        }).then(
            function () {
                console.log("deleted id ", id);
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $("#createburger").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        // [name=burg] will find an element with a "name" attribute equal to the string "burg"
        var newBurger = {
            burger: $("#createburger [name=burg]").val().trim()
        };
        console.log("newburg", newBurger)
        // Send the POST request.
        $.ajax("/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });
</script>

{{!-- <script>
    $(".delete").on("click", function () {
        var id = $(this).data("burgerid");

        // sending a delete request

        $.ajax("/newburger" + id, {
            type: "DELETE"
        }).then(function () {
            console.log("deleted id:", id)
        })
    });

   
    })
</script> --}}